{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class='row'>
<div class='col-sm-6 offset-sm-3'>
<h1>Login</h1>
<br>
<form method="post">
  {% csrf_token %}
    {{ form.username.errors }}
    <div class='form-group' style="margin-right: 3px;">
        <input type='text' class='form-control' name='username' placeholder='Username' />
    </div>
    {{ form.password.errors }}
    <div class='form-group' style="margin-right: 3px;">
        <input type='password' class='form-control' name='password' placeholder='Password' />
    </div>
  <input class='btn btn-block btn-primary' type="submit" style="margin-top: 5px;" value="{% trans 'Submit' %}" />
</form>
</div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 offset-sm-3 text-align-center'>
<p>{% trans "Forgot password" %}? <a href="{% url "password_reset" %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url "django_registration_register" %}">{% trans "Register" %}</a>!</p>
</div>
</div>

{% endblock %}
