{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}Bets Admin | {{ block.super }}{% endblock %}

{% block extracss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'groups/style.css' %}" />
    <meta charset="UTF-8">
{% endblock %}

{% block jumbotron %}
    {% include 'groups/group_jumbotron.html' with title_pager="Invite Page" %}

    {% include 'groups/group_nav.html' %}

{% endblock %}


{% block content %}
<form action="{% url 'groups:invitePage' group_id=group.id page=1 %}{% if query %}?q={{ query }}{% endif %}" method="post">{% csrf_token %}
<div class="row">
    <div class="col-md-3">
        <input class="form-control row" type="text" onkeypress="if (event.keyCode == 13) {return false;}" placeholder="Search" aria-label="Search" id="name_search" style="margin-bottom: 0.1rem;">
        <button type="button" class="row btn" id="search_btn">
            Search
        </button>
    </div>

    <div class="col-md-9">
        <ul class="list-group" id="myUL">
        {% for user_invite in model_array %}
            <li class="list-group-item list-group-item-action">
                {{ user_invite.user.username }}
            <div style="float: right;">
                {% if user_invite.invite_status == 'invite' %}
                    <button name="profile_id" type="submit" value="{{ user_invite.user.profile.id }}" class="btn btn-primary" style="font-size: 80%">
                        Invite
                    </button>
                {% endif %}
                {% if user_invite.invite_status == 'sent' %}
                    <button name="profile_id" type="submit" value="{{ user_invite.user.profile.id }}" class="btn btn-secondary" style="font-size: 80%">
                        Invite pending
                    </button>
                {% endif %}
                {% if user_invite.invite_status == 'member' %}
                    <button name="profile_id" type="submit" value="{{ user_invite.user.profile.id }}" class="btn btn-info" style="font-size: 80%">
                        Member
                    </button>
                {% endif %}
                {% if user_invite.invite_status == 'blocked' %}
                    <button name="profile_id" type="submit" value="{{ user_invite.user.profile.id }}" class="btn btn-warning" style="font-size: 80%">
                        Member is blocking invites
                    </button>
                {% endif %}
            </div>
            </li>
        {% endfor %}
        </ul>
        <br>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if current_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{% url 'groups:invitePage' group_id=group.id page=current_page|add:"-1" %}{% if query %}?q={{ query }}{% endif %}">
                    Previous
                </a>
            </li>
            {% endif %}
            {% if num_pages > 1 %}
                {% for page in num_pages_range %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'groups:invitePage' group_id=group.id page=forloop.counter %}{% if query %}?q={{ query }}{% endif %}">
                        {{ forloop.counter }}
                    </a>
                </li>
                {% endfor %}
            {% endif %}
            {% if current_page < num_pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'groups:invitePage' group_id=group.id page=current_page|add:"1" %}{% if query %}?q={{ query }}{% endif %}">
                    Next
                </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
</div>
</form>

<script>
$('#search_btn').on('click', function () {
    var searchInput = $('#name_search').val();
    var url = "{% url 'groups:invitePage' group_id=group.id page=1 %}" + "?q=" + searchInput;
    window.location.href = url;
});
$('#name_search').on('keypress',function(e) {
    if(e.which == 13) {
        var searchInput = $('#name_search').val();
        var url = "{% url 'groups:invitePage' group_id=group.id page=1 %}" + "?q=" + searchInput;
        window.location.href = url;
    };
});
</script>
{% endblock %}

